<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Col1">
    <div class="col-{data.flexform_colOneWidth}">
    <f:cObject typoscriptObjectPath="tt_content.{children.1.101.2.data.CType}" data="{children.1.101.2.data}"
        table="tt_content" />
    </div>
</f:section>
<f:section name="Col2">
    <div class="col-{data.flexform_colTwoWidth}">
        <f:cObject typoscriptObjectPath="tt_content.{children.1.102.3.data.CType}" data="{children.1.102.3.data}"
            table="tt_content" />
    </div>
</f:section>
<f:section name="Col3">
    <div class="col-{data.flexform_colThreeWidth}">
        <f:cObject typoscriptObjectPath="tt_content.{children.1.103.4.data.CType}" data="{children.1.103.4.data}"
            table="tt_content" />
    </div>
</f:section>
</html>